:7011 {
    handle /health {
        reverse_proxy portfolio_main:7010
    }

    handle_path /documentation/* {
        reverse_proxy portfolio_documentation:8005
    }

    handle {
        reverse_proxy portfolio_main:7010
    }
}
