:7011 {
    handle /health {
        reverse_proxy portfolio_main:7010
    }

    handle {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy portfolio_main:7010
    }
}
